[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bayesbr"]
	path = bayesbr
	url = https://github.com/pjoao266/bayesbr
	shallow = true
	registered = true
